  @charset "utf-8";
/* CSS Document */

.opltop{
  display: flex;
  justify-content: space-between;
}

.option_layer_cont{
  background-color: #ccc;
  max-width: 1000px;
  padding: 1rem;
}
.option_layer_cont input{
  width: 40%;
  text-align: center;
}
.option_layer_cont div table tr {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 0.5fr;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}
.option_select_box{
  max-height: 22rem;
  overflow-y: scroll;
}
.option_layer_cont div table tbody tr:first-of-type{
  display:none;
}
.option_layer_cont div table tbody {
  /* display:flex; */
  /* width: 80%; */
  /* flex-direction: column; */
}

.option_layer_cont div table{
  /* display:flex; */
  /* width: 80%; */
}
.option_display_area{
  width: 100%;
  padding: 1rem 0.5rem;
}

.btn_box{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}