  @charset "utf-8";
/* CSS Document */

/* Custom CSS for B2B */

#idtx{
  margin: 5rem 0 2rem;
}

.callist{
	flex-wrap: wrap;
	flex-direction: column;
	width: 80%;
}

.callist > div:first-of-type{
	text-align:center;
	margin-bottom:1rem;
}
.callist > div:last-of-type h5{
	font-size:1.25rem;
}
.callist > div:last-of-type > div{
	display:grid;
	grid-template-columns:1fr;
	gap:0.25rem;
	
}
.callist > div:last-of-type > div li a:hover{
	font-weight:bold;
}

.callist > div:last-of-type{
	display:grid;
	grid-template-columns:1fr 1fr;
	gap:0 2rem;
}

.gan_top{
	position:fixed;
	background: #000000;
	z-index: 9;
	border-bottom: 2px solid #ff3030;
}
.gan_top > div{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 0.75rem;
}
.callist{
  display: none;
}
#sepop input{
	width:100%;
	border: 4px solid #2f2f2f;
	padding: 1rem;
	border-radius: 1rem;
	font-size: 1.5rem;
}
#sepop > div{
	display:flex;
	gap: 1rem;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}
#sepop{
	width: 80%;
	display: none;
}
.gdsmain{
  margin-bottom: 4rem;
}

#adbox dl dd select + div + div{
	display: none !important;
}

#option_display_item_0 tr:first-of-type{
	display:none;
}
.item_choice_list > table .item_choice_price{
	padding-left:0.25rem;
	color: #3c3c3c;
}

.item_choice_list > table {
	display:flex;
	overflow-y: scroll;
	max-height: 20rem;
	gap: 1rem;
	z-index: 9;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	padding: 0;
}

.item_choice_list > table tbody {
	display:flex;
	gap: 1rem;
	z-index: 19;
	flex-direction: column-reverse;
	width: 100%;
}
.goods_total_price{
	color: #000;
}

.item_add_option_box{
	width:70%;
}
.item_price_cont .total_goods dt{
	font-size:0.75rem;
	color: #3c3c3c;
	font-weight: bold;
}
.item_price_cont .total_goods{
	/* border-top: 1px solid #ccc; */
	/* border-bottom: 1px solid #ccc; */
	margin: 0.5rem 0 1rem;
	padding: 0.5rem;
	font-size: 1.25rem;
	/* text-align:center; */
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.cart_prdt_name{
	width:100%;
}
#option_display_item_0 tr{
	display: flex;
	/* grid-template-columns: 1fr 0.5fr 1fr; */
	gap: 0.5rem;
	/* grid-auto-flow: column; */
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 0.5rem;
}

.sxex > div dl select{
	display:none;
}

.sxex .item_detail_list{
	display:flex;
	width: 100%;
}
.sxex{
	display: flex;
	flex-direction: row-reverse;
}

.sesq > div{
	background: #ffffff;
	padding: 1rem 1rem 2rem;
	box-shadow: 10px 10px 16px 0px rgba(82, 82, 82, .39);
	width: 100%;
}
.sesq{
	position:fixed;
	display: none;
	/* background: #5b5b5b; */
	/* padding: 1rem; */
	height: auto;
	/* max-width: 31%; */
	width: 21%;
	display: flex;
	justify-content: flex-end;
	max-width: 400px;
}

.sub_content .qqnna{
	background: #eeeeee;
}

.item_goods_sec  > div{
	border-top: 1px solid  #ccc;
	padding-top: 0.5rem;
	margin-top: 1.5rem;
}

.sub_content section{
	width:100%;
	display: flex;
	justify-content: center;
	padding: 0 1rem;
}
.sub_content section > div{
	max-width:1440px;
	width: 100%;
}
.item_photo_view_box
{
  display: none;
}
.item_detail_list > dl:nth-of-type(5),
.item_detail_list > dl:nth-of-type(4),
.item_detail_list > dl:nth-of-type(3),
.item_detail_list > dl:nth-of-type(2),
.item_detail_list > dl:nth-of-type(1){
  display:none;
}

.reviews_cont thead tr th,
.qna_cont thead tr th{
	text-align:left;
	
}
.reviews_cont,
.qna_cont{
	display: flex;
	/* grid-template-columns: 1fr 4fr 1fr; */
	margin: 1rem 0;
	gap: 0 0.5rem;
	align-items: stretch;
	flex-direction: column;
}
.qna_table table {
	width:100%;
	display:flex;
	flex-direction: column;
}
.item_goods_sec thead tr,
.item_goods_sec tbody tr{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap:0.25rem 1rem;
	padding-bottom:0.5rem;
}

.item_goods_sec thead th:first-of-type,
.item_goods_sec tbody td:first-of-type{
	display:none;
}

.item_goods_sec tbody td{
	
	display:flex;
	flex-direction: column;
}

.item_goods_sec table colgroup{
	display:none;
}
#item_add_option_dl_1,
#item_add_option_dl_2,
#item_add_option_dl_3,
#item_add_option_dl_4,
#item_add_option_dl_5,
#item_add_option_dl_6,
#item_add_option_dl_7,
#item_add_option_dl_8,
#item_add_option_dl_9,
#item_add_option_dl_10,
#item_add_option_dl_11,
#item_add_option_dl_12,
#item_add_option_dl_13,
#item_add_option_dl_14,
#item_add_option_dl_15,
#item_add_option_dl_16,
#item_add_option_dl_17,
#item_add_option_dl_18,
#item_add_option_dl_19,
#item_add_option_dl_20,
#item_add_option_dl_21{
  padding-top: 3.5rem;
  margin-top: 3.5rem;
}
.txt-manual{
	margin-bottom:-4rem;
}

  .item_detail_tit{
    display: flex;
    justify-content: center;
  }
  #addCartLayer{
    display: none;
  }
  .pagination{
    display: none;
  }
  .item_detail_tit > h3{
font-size: 3rem;
  }
  .h1_logo{
    display: none;
  }
#opixxaz{
    display: none;
}
.goin_m{
	text-align:center;
}
.chnje > span:first-of-type{
	display:flex;
	align-items: center;
	justify-content: center;
}
.chnje > div{
	padding: 0 1.5rem;
	/* text-align: center; */
}
.qufa{
  font-size: 80%;
	color: #666;
}
.chnje_info{
	gap: 0 1rem;
	flex-direction: column;
	color: #666;
}
.chnje:hover .dari{
	font-weight:bold;
	font-size:120%:
}
.chnje div:nth-of-type(2){
	color: #222;
}
.goin_m{
	color: #111;
}
.dari{
	color: #000;
}

.chnje:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}
.chnje {
	display:grid;
	grid-template-columns: 1fr 1fr 2fr 2fr;
	align-items: center;
	gap: 0.5rem;
	padding: 1rem 0;
	margin:1rem 0;
	/* border-bottom: 1px solid #ccc; */
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	/* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
	/* width: 100%; */
	position: relative;
	box-sizing: border-box;
}

.chnje > div:nth-of-type(2){
    display: flex;
    flex-direction: column;

}

.gswu{
	display: none;
    /* gap: 0.5rem; */
}
.item_price_cont > div > dl:nth-of-type(n+2){
	display:none;
}
  #adbox select + div{
    width: 100% !important;
    /* max-width: 1200px; */
  }
.chosen-results > li{
	display:grid;
	grid-template-columns: 1fr 3fr;
	justify-items: start;
	align-items: center;
	gap: 0.5rem;
}
.item_add_option_box > dl > dt{
	font-size: 2rem;
	font-weight:bold;
	margin: 0rem 0 1rem;
	padding-left: 0.4rem;
	background: #fafafa;
}

.item_add_option_box > dl:nth-of-type(odd) dt{
	border-left: 5px solid #ff3535;
}
.item_add_option_box > dl:nth-of-type(even) dt{
	border-left: 5px solid #1c75ff;
}
.item_add_option_box > dl:nth-of-type(3) dt{
	border-left: 5px solid #ff601c;
}
.active-result img{max-width: 150px;}
.item_add_option_box .chosen-search-input,
.item_add_option_box .chosen-single{
  display: none;
}
.scu {
	text-align:left;
}
.chosen-custom-results{
	gap:0 1rem;
}
/* mobile */
@media (max-width: 767px ) {
.item_add_option_box > dl > dt{
	
font-size: 1.5rem;
}
.item_detail_tit > h3{
	font-size:2rem;
}	
.chnje > div{
	padding: 0 0.5rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item_price_cont{
	padding: 0.25rem 0;
	margin: 0.5rem 0;
	font-size:1rem;
}
#option_display_item_0 tr{
	gap: 0.25rem;
	grid-template-columns: 2fr 1fr 1fr;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
}
.item_choice_list td{
	font-size:0.75rem;
}
.item_goods_sec thead{
	display:none;
}
.item_goods_sec tbody tr{
	display:grid;
	grid-template-columns:1fr 1fr;
	gap:0.25rem 1rem;
	padding-bottom:0.5rem;
}

.item_choice_list > table {
	 overflow-y: scroll;
	 max-height: 7.8rem;
}
	
	
	
.gan_top > div{
  font-size: 1.5rem;
}
.motogle{
  display: none;
}
.gan_top span{
	display:none;
}
#sepop > div{
	display:flex;
	flex-wrap: wrap;
}
.reviews_cont,
.qna_cont{
	display: flex;
	flex-wrap: wrap;
}
.chnje_info{
	font-size: 86%;
}
.scu{
	font-size:80%;
	max-height:3rem;
	overflow-y:scroll;
	
}
.chosen-custom-results{
	grid-template-columns: 1fr 1fr !important;
}
.chnje {
	display:grid;
	grid-template-columns: 1fr !important;
}
	
  .item_add_option_box{
    width: 100% !important
  }
	.sesq{/* bottom: 21px; *//* top: 16rem; */width: 100%;background: #efefef;bottom: 0px;left: 0px;}
	.sesq > div{
		width:100%;
		margin-bottom: 1rem;
		padding: 0.5rem 1rem;
	}
  
  .sesq{
max-width: 100%;
  }
	.item_price_cont .total_goods{
		margin:0;
		font-size: 1rem;
		padding: 0;
	}
	.btn_choice_box > div > button{
		margin:0;
		padding: 0.5rem;
	}
}
