  @charset "utf-8";
/* CSS Document */

.td_left > div:first-child > span,
.td_left > div:first-child > span + div > em{
 background:#ccc;
 display: none;
}

.pick_add_plus{
  display: none;
}
.order_table_type tbody td:nth-of-type(4){
  display: none;
 }
.sub_content{
 padding:1rem;
}
 .order_table_type thead th:nth-of-type(4){
  display: none;
 }
.order_table_type td{
 width:100%;
 display: flex;
}
.pick_add_list{width: 90%;padding-left: 1rem;}
.order_tit ol{
 display:grid;
 grid-template-columns:1fr 1fr 1fr;
 gap: 1rem;
 padding: 1rem 0;
 font-size: 0.75rem;
 align-items: center;
 justify-content: center;
 justify-items: center;
}
.btn_gray_list{
 background: #ffe9e9;
 border-radius: 0.5rem;
 padding: 0.5rem;
 color: #fff;
}
 .order_table_type tr{
  display: grid;
  grid-template-columns: 0.1fr 7fr 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid #ebebeb;
  align-items: center;
  justify-items: start;
 }
.pick_add_list > div {
 display: grid;
 grid-template-columns: 1fr 3fr;
 padding: 1rem;
 margin:1rem 0;
 /* border-bottom: 1px solid #ccc; */
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
 /* width: 100%; */
 position: relative;
 box-sizing: border-box;
}
.pick_add_list > div span > img{
 width:100%;
 max-width: 9rem;
}
.price_sum_list{
 display:grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 background: #f7f7f7;
 padding: 1rem;
 margin: 1rem;
 align-items: center;
 justify-items: center;
}
.btn_order_box{
 display:flex;
 padding: 0 1rem;
 gap: 2rem;
 margin-bottom: 3rem;
}
.btn_order_box > span:nth-of-type(1){
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 width: 100%;
 gap: 1rem;
}
.btn_order_box > span:nth-of-type(2){
 display:flex;
 flex-wrap: wrap;
 width: 100%;
 gap: 1rem;
 justify-content: flex-end;
}
.btn_right_box .btn_order_whole_buy{
 color:#fff;
 background: #5137f0;
 border: 0px;
 box-shadow: 10px 10px 16px 0px rgba(82, 82, 82, .39);
}

