  @charset "utf-8";
/* CSS Document */

/* Custom CSS for B2B */

.gdsmain{
  margin-bottom: 4rem;
}


#adbox dl dd select + div + div{
	display:none;
}

#option_display_item_0 tr:first-of-type{
	display:none;
}
#option_display_item_0{
	display:flex;
	flex-direction: column-reverse;
	overflow-y: scroll;
	max-height: 20rem;
}

.item_add_option_box{
	width:60%;
}

#option_display_item_0 tr{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
}

.sxex > div dl select{
	display:none;
}

.sxex .item_detail_list{
	display:flex;
	width: 100%;
	justify-content: flex-start;
}
.sxex{
	display: flex;
	flex-direction: row-reverse;
}

.sesq{
	position:fixed;
	width: 25%;
	display: none;
	/* background: #ccc; */
	top: 10rem;
	flex-wrap: wrap;
	flex-direction: column;
}

.sub_content .qqnna{
	background: #eeeeee;
}

.sub_content section{
	width:100%;
	display: flex;
	justify-content: center;
	padding: 0 1rem;
}
.sub_content section > div{
	max-width:1440px;
	width: 100%;
}
.item_photo_view_box
{
  display: none;
}
.item_detail_list > dl:nth-of-type(5),
.item_detail_list > dl:nth-of-type(4),
.item_detail_list > dl:nth-of-type(3),
.item_detail_list > dl:nth-of-type(2),
.item_detail_list > dl:nth-of-type(1){
  display:none;
}

.qna_cont{
	display:grid;
	grid-template-columns: 1fr 6fr 1fr;
	margin: 1rem 0;
	gap: 0 0.5rem;
	align-items: center;
}
.qna_table table {
	width:100%;
}

.qna_table table colgroup{
	display:none;
}

  .item_detail_tit{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  #addCartLayer{
    display: none;
  }
  .pagination{
    display: none;
  }
  .item_detail_tit > h3{
font-size: 3rem;
  }
  .h1_logo{
    display: none;
  }
#opixxaz{
    display: none;
}
.chnje {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
	gap: 0.5rem;
	padding: 1rem;
	margin:1rem 0;
	/* border-bottom: 1px solid #ccc; */
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	/* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
	/* width: 100%; */
	position: relative;
	box-sizing: border-box;
}

.chnje > div:nth-of-type(2){
    display: flex;
    flex-direction: column;

}

.chnje > div{
    display: flex;
    gap: 0.5rem;

}
.item_price_cont > div > dl:nth-of-type(n+2){
	display:none;
}
  #adbox select + div{
    width: 100% !important;
    /* max-width: 1200px; */
  }
.chosen-results > li{
	display:grid;
	grid-template-columns: 1fr 3fr;
	justify-items: start;
	align-items: center;
	gap: 0.5rem;
}
.item_add_option_box > dl > dt{
	font-size: 2rem;
	font-weight:bold;
	margin: 2rem 0 1rem;
	padding-left: 0.4rem;
}

.item_add_option_box > dl:nth-of-type(1) dt{
	border-left: 5px solid #ff3535;
}

.item_add_option_box > dl:nth-of-type(2) dt{
	border-left: 5px solid #1c75ff;
}

.item_add_option_box > dl:nth-of-type(3) dt{
	border-left: 5px solid #ff601c;
}
.active-result img{max-width: 150px;}
.item_add_option_box .chosen-search-input,
.item_add_option_box .chosen-single{
  display: none;
}
  

/* mobile */
@media (max-width: 767px ) {
  .item_add_option_box{
    width: 100% !important
  }
	.sesq{/* bottom: 21px; */top: 28rem;width: 92%;background: #ccc;}
}
