.main_section, .topop, .cate_bar, footer, body section:nth-of-type(n+2) {
    display: flex;
    justify-content: center;
    padding: 0px 1rem;
    box-sizing: border-box;
}
.cate_bar > ul {
    width: 100%;
}
.main_section > div,
.topop > ul,
.cate_bar > ul{
  max-width: var(--max_width);
  /* margin: 0px auto; */
}
.cate_top, .main_bn, body section:nth-of-type(n+3) > div {
    max-width: var(--main_width);
    width: 100%;
}

body section:nth-of-type(n+4) {
    margin: 2rem 0px;
    padding: 5rem 1rem;
}

.so_myc {
    display: flex;
    justify-content: flex-end;
}

.so_mys {
    display: flex;
    gap: 0px 0.5rem;
}

.so_my {
    display: flex;
    gap: 0.5rem;
}

.go_ic i {
    font-size: 0.5rem;
}
.main_section > div img {
    border-radius: 1rem;
}

.main_bn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 1rem;
}

.main_bn > div > li + div {
    margin-top: 0.5rem;
    width: 100%;
    max-width: 464px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0px;
    padding: 0px 1rem;
    box-sizing: border-box;
}

.main_bn > div > li + div span:last-of-type, .main_bn > div > li + div h3:last-of-type {
}

.main_bn > div > li + div div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_bn {
    display: flex;
    gap: 0px 2.5rem;
    box-sizing: border-box;
    padding-bottom: 1rem;
}

.main_bn > div > li {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;
    flex: 0 0 auto;
    max-width: 464px;
    box-sizing: border-box;
    border-radius: 1rem;
}

.main_bn li img {
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_bn li img:hover {
    transform: scale(1.08);
}

.cate_top > li {
    background: rgb(250, 250, 250);
    display: flex;
    place-content: center;
    align-items: center;
    gap: 0.5rem 0px;
    border-radius: 1rem;
    padding: 2rem 0.5rem;
    min-width: 20%;
    flex-flow: column wrap;
    font-size: calc(0.5rem + 0.25vw);
}

.cate_top > li > i {
    font-size: calc(2rem + 0.25vw);
}

.cate_top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    gap: 2rem;
    font-size: calc(0.75rem + 0.25vw);
    color: rgb(48, 48, 48);
    margin: 2rem 0px;
}

.cate_bar ul div:hover .te_xcli {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: rgb(238, 238, 238);
    position: absolute;
    z-index: 10;
    padding: 8px 16px;
    border-radius: 6px;
}

.cate_bar ul div {
    position: relative;
    width: 90%;
    text-align: center;
}

.allcatete {
    position: fixed;
    top: 57px;
    z-index: 9;
    width: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.87);
}

.allcatete > div > div:first-of-type {
    position: absolute;
    right: 2rem;
}

.allcatete > div {
    max-width: 1440px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    min-height: 17rem;
    padding: 1rem;
    width: 80%;
}

.allcatete > div > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    justify-items: center;
    gap: 1rem;
    text-align: center;
}

.te_cate {
    width: 48%;
}

.te_list {
    position: relative;
    display: flex;
    place-content: flex-start;
    flex-flow: column;
    align-items: baseline;
}

.te_list > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.te_list p {
    display: flex;
}

.te_list ul {
    position: absolute;
    top: 0rem;
    left: 100%;
    border-left: 1px solid;
    width: 100%;
    background: rgb(204, 204, 204);
}

.topop > ul {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1.5rem;
    padding: 1rem 0px;
    place-items: center;
    align-content: center;
    width: 100%;
}

.cate_bar > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 1.5rem 0px;
    justify-items: center;
    padding: 1rem 0px;
}

.so_service > span {
    display: flex;
    gap: 0px 0.25rem;
}

.so_service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    font-size: calc(0.5rem + 0.25vw);
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.so_service > span > i {
    font-size: calc(1rem + 0.25vw);
    padding-right: 0.25rem;
}

#mo_slb .so_service > span > i {
    font-size: calc(2rem + 0.25vw);
    /* background: rgb(248, 248, 248); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: rgb(0, 0, 0);
}

#mo_slb .so_service {
    display: grid;
    grid-template-columns: repeat(3, minmax(28%, auto));
    text-align: center;
    color: rgb(70, 67, 63);
    width: 100%;
    margin-top: 1rem;
}

#mo_slb .so_service > span {
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem 0px; */
}

#pc_slb > div > div  h4:nth-of-type(1){
    font-size: calc(1.0rem + 0.5vw);
}
#pc_slb > div > div  h4:nth-of-type(2){
    font-size: calc(2.5rem + 0.5vw);
}

#pc_slb > div > div h4{
    text-align: left;
    opacity: 1;
}
#pc_slb > div > div div div > div{
    opacity: 0;
}

#pc_slb > div > div span {
    font-size: calc(1rem + 0.5vw);
    text-align: left;
    opacity: 0;
}

#pc_slb > div p {
    font-size: calc(0.75rem + 0.5vw);
    text-align: left;
    background: rgb(27, 115, 255);
    border-radius: 6rem;
    padding: 1rem 2.5rem;
    color: rgb(255, 255, 255);
    opacity: 0;
}
#pc_slb > div > div > div{
    display:flex;
    justify-content: center;
}

#pc_slb > div > div > div > div:nth-of-type(1) {
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 3rem;
    flex-direction: column;
    place-content: flex-start space-evenly;
    width: 100%;
    max-width: 1440px;
    align-items: flex-start;
}

.top_ba {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.dot_zom > i {
    padding-left: 0.5rem;
    color: rgb(255, 255, 255);
}

#mo_slb {
}

#mo_slb > div .swiper-slide > div {
    padding: 1rem 0;
}

#mo_slb > div .swiper-slide {
    text-align: center;
    background: rgb(204, 204, 204);
}

#mo_slb > div .swiper-slide:nth-child(1) {
    background: linear-gradient(30deg, rgb(138, 105, 58) 0%, rgb(245, 218, 165) 50%, rgb(195, 175, 147) 100%);
}

#mo_slb > div .swiper-slide:nth-child(2) {
    background: linear-gradient(30deg, rgb(205 221 234) 0%, rgb(53 126 183) 50%, rgb(148 179 200) 100%);
}

#mo_slb > div .swiper-slide img {
    border-radius: 1rem;
    width: 80%;
}

#mo_slb > div .swiper-slide > div > div:first-of-type {
    font-size: var(--size_s);
    position: absolute;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
}

#mo_slb > div .swiper-slide > div > div:nth-of-type(3) {
    padding: 0.5rem 0.5rem 0px;
}

.grid_x > li:nth-child(1) {
    justify-self: start;
}

.grid_x > li:nth-child(2) {
}

.grid_x > li:nth-child(3) {
    display: flex;
    justify-self: end;
    place-content: center flex-end;
    align-items: center;
    font-size: calc(0.5rem + 0.25vw);
}

.grid_x > li:nth-child(4) {
    justify-self: end;
    height: 100%;
    display: flex;
    place-content: center;
    align-items: center;
}

.go_ic > li {
    display: flex;
    align-content: center;
    align-items: center;
    height: auto;
    max-height: 1rem;
}

.go_ic {
    display: flex;
    gap: 1rem;
    border-left: 1px solid rgb(235, 235, 235);
    padding-left: 1rem;
    box-sizing: border-box;
    color: rgb(64, 64, 64);
    flex-wrap: wrap;
}

.fr_slt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
    gap: 2.5rem;
    margin-top: 1rem;
    box-sizing: border-box;
    padding: 1rem;
    position: relative;
    place-content: center;
    align-items: center;
}

.fr_slt > div {
}

.fr_slt > div > div:first-of-type > div {
    display: flex;
    gap: 0px 0.5rem;
    align-items: center;
}

.fr_slt > div > div:first-of-type {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding: 1rem 1rem 0px;
    gap: 0px 0.5rem;
}

.fr_slt > div > div:nth-of-type(2) {
}

.fr_slt > div > div:last-of-type > div {
    display: flex;
    gap: 0px 0.25rem;
}

.fr_slt > div > div:last-of-type {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.fr_slt > div > div i {
    font-size: 1rem;
    padding-right: 0.25rem;
}

.fr_slt > div > div > img {
    padding: 1rem;
    box-sizing: border-box;
}
.fr_slt > div:first-of-type img {
    scale: 1.17;
    object-fit: contain;
}

.fr_slt .cc {
    font-size: 1.2rem;
}

.pr_slt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
    gap: 1.5rem;
    margin-top: 1rem;
}
.fr_slt > div,
.pr_slt > div {
    padding: 0 0.5rem;
    text-align: center;
    color: #1b1b1b;
    border-radius: 10px;
    background: #fff;
}

footer {
    font-size: 1rem;
    border-top: 1px solid rgb(204, 204, 204);
    display: block;
    flex-direction: column;
    padding: 0px;
}

.foot_logo > h3 {
    color: rgb(127, 127, 127);
}

.foot_logo {
    display: flex;
    color: rgb(175, 175, 175);
    max-width: 1440px;
    margin: 1rem auto 0px;
    gap: 0px 1.5rem;
    align-content: center;
    align-items: flex-end;
    padding: 1rem;
}

.foot {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 3rem;
    max-width: 1440px;
    margin: 0px auto;
    padding: 1rem 0px;
}

.foot_menu ul {
    display: grid;
    gap: 1rem;
}

.foot_menu ul li {
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s;
}

.foot_menu ul li:hover {
}

.foot_info > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    gap: 1rem;
}

.foot_info > ul > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px 0.5rem;
}

.foot_info ul li i {
    color: rgb(130, 130, 130);
    min-width: 22px;
    text-align: center;
}

.foot_copy {
    background: rgb(27, 27, 27);
    padding: 2rem 1rem;
    font-size: 1rem;
    margin-top: 2rem;
}

.foot > div:last-of-type {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.foot > div:last-of-type > h4 {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.foot > h3, .foot > div {
    padding: 1rem;
}

/* img fillter */

.fr_slt > div img{
filter: contrast(1.1)
saturate(1.2)
brightness(1.0)
drop-shadow(1px 4px 3px rgba(0, 0, 0, 0.51));
}
/* img fillter */

/* shadow */
#mo_slb .so_service > span ,
.cate_bar ul div:hover .te_xcli,
.fr_slt > div,
.pr_slt > div {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#pc_slb > div p,
.fr_slt > div:hover,
.pr_slt > div:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* shadow */


@media (max-width: 900px) {
  
.fr_slt > div > div:first-of-type {
    grid-template-columns: 1fr 1fr;
}

    .fr_slt {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
    }
}
