@charset "utf-8";
/* CSS Document */


#container{margin-top:-1px;}
#contents .sub_content{width:100%; margin:0; padding:0;}/* 메인 */
.main_visual{overflow:hidden; width:100%;  margin:0 0 70px 0;}
.main_content{}
.main_slide_ban{overflow:hidden; width:1200px; margin:0 auto;}
.main_slide{float:left; width:610px;}
.main_banner{float:left; width:589px; padding:0 0 0 1px;}
.main_ban_img01,
.main_ban_img02,
.main_ban_img03{display:inline-block; float:left;}
.main_ban_img01{padding:0 0 1px 0;}
.main_ban_img03{padding:0 0 0 1px;}

.main_cont_slide{text-align:center;}

.main_banners {
	display: flex;
	gap: 1.04%;
}
.main_banners.type2 {
	margin-top: 120px;
}
.main_banners.type3 > a, .main_banners.type3 > img {
	width: 32.6%;
}
.main_banners.type2 > a, .main_banners.type2 > img{
	width: 49.47%;
}
.main_banners img{
	width: 100%;
	max-width: none;
	object-fit: contain;
}
.main_goods_cont_with_banner .goods_list {
	padding-bottom: 0;
}
.main_goods_cont_with_banner .goods_list_tit {
	padding: 0;
}
.main_goods_cont_with_banner .goods_list_tit h3{
	display: none;
}
.main_goods_cont_with_banner .item_group_type .item_photo_box {
	width: 180px;
	float: left;
}
.main_goods_cont.no-title .goods_list_tit {
	display: none;
}
.main-prd-list {
	padding-inline: 60px;
}
.main_top_product_display {
	padding: 0;
}
.main_top_product_display .goods_list_tit {
	display: none;
}
.main_top_product_display ul {
	display: flex;
	gap: 1.04%;
	margin: 0 auto;
}
.main_top_product_display ul li{
	padding: 0;
	width: 32.6% !important;
}
.main_top_product_display .goods_list {
	padding: 0;
}
.main_top_product_display .item_simple_type .item_con {

}
.main_top_product_display .item_simple_type .item_photo_box,
.main_top_product_display .item_simple_type .item_cont a,
.main_top_product_display .item_simple_type .item_cont a > img {
	width: 100%;
}

.main_ban_img01,
.main_ban_img02,
.main_ban_img03 {
	width: 100%;
}
.main_goods_cont {
	max-width: var(--max-width);
  margin: 0 auto;
}
.survey-banner > div {
	display: flex;
	justify-content: center;
}
.main_new_arrivals_product_display {
	max-width: var(--max-width);
  margin: 0 auto;
}
.main_ban_img03 {
	border-bottom: none;
	padding: 20px 0 0 0;
}
.main_goods_cont_with_banner {
	padding: 120px 0;
	display: flex;
	gap: 20px;
	overflow: auto;
	max-width: var(--max-width);
  margin: 0 auto;
}
.main_goods_cont_with_banner .main_banner_with_list img {
	width: 704px;
	height: 500px;
	max-width: none;
}
.main_goods_cont_with_banner .goods_list_cont ul li{
	padding: 0 20px 20px 0;
}
.main_md_pick_product_display {
	max-width: var(--max-width);
  margin: 0 auto;
}
.main_md_pick_product_display .goods_list {
	padding: 0;
}

.main_banner_wide {
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.main_banner_wide img {
	width:  100%;
}

.goods_list.main_wrap_2.display-type01 .item_photo_box{
	width: initial;
}
