/* mp.css - UTF-8 encoding */
@charset "UTF-8";

/* Add your CSS styles below */

.sub_content{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}
#contents .sub_content > .side_cont + .content{
  width: 100%;
}
.sub_menu_box{
  flex-wrap: wrap;
  flex-direction: column;

}
.side_cont .sub_menu_box .sub_menu_mypage{
	display: grid;
	gap: 1rem;
  grid-template-columns: 1fr;
}
.sub_content .content{
  margin-top: 2rem;
}


/* mobile */
@media (max-width: 767px ) {
#inco table tbody tr{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 1rem;
	background: #f1f1f1;
	margin: 1rem 0;
	gap: 1rem;
}
#inco table thead{
  display: none;
}
.sub_content{
  grid-template-columns: 1fr;
}
.sub_menu_box{
  display: none;
}
.mypage_top_wallet{
  display: none;
}
.mypage_lately_info{
	width:90%;
	margin:0 auto;
}
.mypage_lately_goods{
  display: none;
}
.side_cont .sub_menu_box .sub_menu_mypage {
	grid-template-columns: 1fr 1fr;
}
}