@charset "utf-8";
/* CSS Document */

/* 
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
pretendard 추가 240906 */

.godo * {
}
/* pretendard 추가 240906 */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
	margin: 0;
	padding: 0;
}
fieldset,
img {
	border: 0 none;
	vertical-align: middle;
}
dl,
ul,
ol,
li {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
input,
select,
textarea,
button {
	vertical-align: middle;
}


button {
	border: 0 none;
	background-color: transparent;
	cursor: pointer;
}
body {
	background: #fff;
}
body,
th,
td,
input,
select,
textarea,
button {
} /* color값은 디자인가이드에 맞게사용 */
a {
	color: #333;
	text-decoration: none;
	font-weight: normal;
}
a:active,
a:hover {
	text-decoration: none;
}
address,
caption,
cite,
code,
dfn,
em,
var {
	font-style: normal;
	font-weight: normal;
}
