@charset "utf-8";
/* CSS Document */

/* 상품 리스트 */
/* 더보기 버튼 */
.btn_goods_down_more {
	width: 100%;
	margin: 30px 0 30px 0;
	border-top: 1px solid #ececec;
	text-align: center;
}
.btn_goods_down_more .btn_goods_view_down_more {
	display: inline-block;
	margin-top: -1px;
	padding: 5px 28px 6px 20px;
	font-weight: bold;
	border: 1px solid #dbdbdb;
	border-top: none 0;
	background: url(../../img/icon/goods_icon/icon_down_more.png) no-repeat right
		center;
	background-color: #ffffff;
}
.btn_goods_more {
	position: absolute;
	bottom: 14px;
	right: 5px;
}
.btn_goods_more .btn_goods_view_more {
	padding: 2px 5px 3px 5px;
	font-size: 14px;
	font-weight: 400;
	border: 0px solid #dbdbdb;
}
.btn_goods_more::after .btn_goods_view_more::after {
	content: '';
}

/* 상품이 없을 때 */
.goods_no_data {
	min-height: 200px;
	text-align: center;
}
.goods_no_data strong {
	font-size: 14px;
	font-weight: normal;
	line-height: 150px;
}

/* 상품 갤러리형을 기본으로 */
.goods_list {
	padding-bottom: 30px;
	font-size: 12px;
}
.goods_list_tit {
	padding: 100px 0 10px 0; /* border-bottom:1px solid #ececec;*/
	line-height: 1;
	position: relative;
}
.goods_list_tit h3 {
	font-size: 60px;
	font-weight: 400;
}
.goods_list_cont {
	position: relative;
	width: 100%;
}
.goods_list_cont ul {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
/* .goods_list_cont ul li{display:inline-block; min-height:50px;text-align:center; vertical-align:top; } */

.item_cont {
	text-align: left;
	color: #1c1c1c;
	margin-top: 20px;
	padding: 0 6px;
}
.icon_time_sale {
	position: absolute;
	top: 0;
	left: 0;
	text-align: left;
}

.item_group_type .item_cont .icon_time_sale img {
	border: 0;
}

.item_photo_box {
	display: inline-block !important;
	overflow: hidden;
	position: relative;
	border: 1px solid #ebebeb;
	vertical-align: middle;
}

.item_photo_box a {
	display: block;
	height: 100%;
}
/* .item_photo_box a > img {
	object-fit: contain;
	width: 100%;
} */
.item_photo_box .item_soldout_bg {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #ffffff;
	filter: alpha(opacity=60);
	background-color: rgba(255, 255, 255, 0.6);
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 0;
}
.item_photo_box .item_soldout_bg img {
	position: relative;
	max-width: 99.5%;
	vertical-align: middle;
}
.item_soldout .item_photo_box .item_soldout_bg {
	display: block;
}
.item_soldout .item_photo_box .item_soldout_bg:before {
	content: '';
	display: inline-block;
	width: 1px;
	height: 100%;
	margin-right: 0;
	vertical-align: middle;
}

.item_info_cont {
	padding: 10px 0 0 0;
	text-align: left !important;
	vertical-align: middle;
	font-size: var(--font-size);
	font-weight: normal;
	overflow: hidden;
}
.item_tit_box {
	padding: 0;
}
.item_tit_box .item_brand {
	display: block;
	color: var(--primary-default);
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	margin-bottom: 4px;
}
.item_tit_box .item_name {
	display: -webkit-box;
	-webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
	padding: 0;
	font-size: 16px;
	text-overflow: ellipsis;
	font-weight: normal;
	overflow: hidden;
	line-height: 22px;
}
.item_tit_box .item_name_explain {
	display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
	padding: 0 10px 0 0px;
	color: #a8a8a8;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 20px;

}

.item_icon_box {
	margin: 0;
	padding: 5px 0 0 0;
}
.item_icon_box img {
	display: inline-block;
	height: 18px;
}

.item_money_box {
	margin-top: 6px;
	line-height: 22px;
	font-size: 16px;
}
.item_money_box del {
	display: block;
	color: #888888;
}
.item_money_box .item_price {
	/*display:block;*/
	padding: 0px;
	font-size: 16px;
	color: #000000;
	font-weight: bold;
}
.item_money_box .item_price .time_sale_cost {
	display: inline-block;
	padding: 7px 0 5px 20px;
	font-size: 16px;
	background: url('../../img/icon/goods_icon/icon_time_sale_cost.png') no-repeat
		left 7px;
}
.item_money_box .item_price .time_sale_cost_r {
	display: inline-block;
	font-size: 16px;
}
.item_money_box .item_price .time_sale_text {
	display: inline-block;
	padding-left: 20px;
	background: url('../../img/icon/goods_icon/icon_time_sale_cost.png') no-repeat
		left 3px;
	color: #888888;
}
.item_money_box .item_sale {
	display: block;
	padding: 3px 0 3px 0;
	font-weight:  var(--font-bold);
	color: #000;
}
.item_money_box .item_sale .icon_item_coupon {
	margin: 10px 0 0 0;
}
.item_money_box .item_sale .icon_item_coupon img {
	vertical-align: middle;
}
.item_money_box .item_mileage {
	display: inline-flex;
	align-items: flex-start;
	transform: translateY(-2px);
	gap: 4px;
	padding: 0;
	line-height: 1.5;
	background: none;
}
.item_money_box .item_mileage img {
	transform: translateY(4px);
	vertical-align: top;
}

.item_number_box {
	color: #c52323;
	line-height: 18px;
}
.item_number_box .num_model {
	font-size: calc(var(--font-size) - 2px);
	display: block;
	color: #a8a8a8;
}
.item_number_box .num_code {
	font-size: calc(var(--font-size) - 2px);
	display: block;
	color: #a8a8a8;
}

/* 갤러리형 기본 */

/* 리스트형 */
.item_list_type {
	overflow: hidden;
	width: 100%;
}
.item_list_type:after {
	display: block;
	clear: both;
	content: '';
}
.goods_list_cont .item_list_type li {
	width: 100%;
	padding: 40px 0 24px 0;
	border-top: 1px solid #ebebeb;
	text-align: left;
}
.item_list_type li:first-child {
	padding-top: 0;
	border: 0 none;
}
.item_list_type .item_cont {
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 0;
	text-align: left;
	color: #1c1c1c;
	vertical-align: middle;
}
.item_list_type .item_photo_box {
	display: inline-block !important;
	position: relative;
	text-align: center;
	vertical-align: middle;
}
.item_list_type .item_info_cont {
	display: inline-block;
	width: 70%;
	padding: 0;
}
.item_list_type .item_info_list {
	display: inline-block;
	width: 46%;
	min-width: 100px;
	padding: 0 10px 0 20px;
	vertical-align: middle;
}
.item_list_type .item_info_list .item_tit_box .item_name_explain {
	display: inline-block;
}
.item_list_type .item_photo_box {
	width: 120px;
}

.body-event-sale .item_list_type .item_photo_box {
	width: auto;
}

.item_list_type .item_money_box {
	margin: 20px 0 0 20px;
	vertical-align: middle;
}
.item_list_type .item_number_box {
	padding: 10px 0 0 0;
}
.item_list_type .item_btn_box {
	position: absolute;
	top: 50%;
	right: 10px;
	height: 76px;
	margin-top: -55px;
}
.item_btn_box button {
	display: block;
	margin: 10px 10px 10px 20px;
	font-weight: bold;
}

.btn_list_get {
	width: 200px;
	padding: 10px 20px;
	color: #ffffff;
	background: #979797;
} /* 찜하기 */
.btn_list_get:hover {
	background: #626262;
}
.btn_list_cart {
	width: 200px;
	padding: 10px 20px;
	color: #ffffff;
	background: var(--primary-default);
} /* 장바구니 */
.btn_list_cart:hover {
	background: var(--primary-hover);
}

/* 리스트그룹형 */
.item_group_type li {
	display: table;
	width: 50%;
	padding-top: 12px;
}

.item_group_type .item_cont {
	position: relative;
	display: flex;
	gap: 16px;
	padding-inline: 0;
	margin-top: 0;
	max-width: none;
}
.item_group_type .item_photo_box {
	position: relative;
	text-align: center;
	width: auto;
	flex: none;
}

.item_group_type [style="width:100%;"] .item_cont {
	max-width: none;
}

.item_group_type [style="width:20%;"] .item_cont {
	max-width: 200px;
}

.item_group_type [style="width:100%;"] .item_photo_box {
	display: initial !important;
	width: 100%;
}

body:not(.body-main) .item_group_banner {
	display: none;
}

.item_group_banner {
	display: block;
	padding: 30px 0 0 0;
}
.item_group_banner ul {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.item_group_banner li {
	width: 33.333333333333%;
	padding: 0 12px 0 0;
}
.item_group_banner .item_group_img {
	display: inline-block !important;
	overflow: hidden;
	position: relative;
	text-align: center;
	vertical-align: middle;
}
.item_group_banner .item_group_img a {
	display: block;
	height: 100%;
}
.item_group_banner .item_group_img a > img {
	width: 100%;
}

/* 상품이동형 : 가로 */
.item_slide_horizontal [class^="slide_horizontal"] {
	display: block;
}
.item_slide_horizontal .slick-prev,
.item_slide_horizontal .slick-next {
	display: block;
	position: absolute;
	top: 50%;
	width: 30px;
	height: 50px;
}
.item_slide_horizontal .slick-prev {
	left: 0px;
	background: url(../../img/common/btn/btn_horizontal_prev.png) no-repeat left
		top;
}
.item_slide_horizontal .slick-prev:hover {
	background: url(../../img/common/btn/btn_horizontal_prev_over.png) no-repeat
		left top;
}
.item_slide_horizontal .slick-next {
	right: 0px;
	background: url(../../img/common/btn/btn_horizontal_next.png) no-repeat left
		top;
}
.item_slide_horizontal .slick-next:hover {
	background: url(../../img/common/btn/btn_horizontal_next_over.png) no-repeat
		left top;
}

/* 상품이동형 : 세로 */
.item_slide_vertical {
	padding: 45px 0 40px 0;
}

.item_slide_vertical .slick-slide {
	display: flex !important;
}

.item_slide_vertical .slick-prev,
.item_slide_vertical .slick-next {
	display: block;
	position: absolute;
	left: 50%;
	width: 50px;
	height: 30px;
}
.item_slide_vertical .slick-prev {
	top: 30px;
	background: url(../../img/common/btn/btn_vertical_prev.png) no-repeat left top;
}
.item_slide_vertical .slick-prev:hover {
	background: url(../../img/common/btn/btn_vertical_prev_over.png) no-repeat
		left top;
}
.item_slide_vertical .slick-next {
	top: auto;
	right: auto;
	bottom: 0px;
	background: url(../../img/common/btn/btn_vertical_next.png) no-repeat left top;
}
.item_slide_vertical .slick-next:hover {
	background: url(../../img/common/btn/btn_vertical_next_over.png) no-repeat
		left top;
}

.item_slide_vertical .item_cont {
	max-width: 600px;
	margin-inline: auto;
}

/* 스크롤형 */
.item_scroll_type {
	overflow-x: auto;
	overflow-y: hidden;
}
.item_scroll_type ul {
	padding: 0 0 10px 0;
}
/* 스크롤형 세로타입 */
.item_scroll_type.scroll_vertical {
	overflow-x: hidden;
	overflow-y: auto;
	height: 330px;
}

/* 선택강조형 */
.item_hover_type {
	overflow: hidden;
}
.item_hover_type .icon_time_sale {
	z-index: 20;
}
.item_hover_type .item_photo_box:hover .icon_time_sale img,
.item_hover_type .item_photo_box:hover .item_soldout_bg img {
	opacity: 1;
	filter: alpha(opacity=100);
}
.item_hover_type .item_soldout .item_photo_box:hover .icon_time_sale img,
.item_hover_type .item_photo_box:hover img {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

/* 심플이미지형 */
.item_simple_type {
	overflow: hidden;
}
.item_simple_type .item_cont {
	text-align: center;
	font-size: 0;
}
.item_simple_type .item_photo_box {
	overflow: hidden;
}

.item_simple_type .item_photo_box a {
	width: 100%;
}
.item_simple_type .item_simple_over {
	display: none;
}
.item_simple_type li a:hover .item_simple_over {
	display: inline-block;
	vertical-align: middle;
}
.item_simple_type .item_simple_over {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000,endColorstr=#90000000);
	/*
    IE8이하는 rgba가 동작하지 않기 때문에 배경 투명도 적용을 위해 filter의 gradient을 대체 이용한다.
    컬러값 60000000의 8자리 숫자의 의미: 앞 60 불투명도, 나머지 6자리 컬러값.
    startColorstr와 endColorstr의 색을 같게 하여 배경 투명도 처리를 하는것.
    하지만 원래는 그라데이션 처리하는 기법이기 때문에 같은 60% 투명도라고 해도 약간의 차이는 있다.
	*/
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 12px;
}
.item_simple_type .item_simple_info {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 10px;
}
.item_simple_type .item_info_cont {
	overflow: hidden;
	padding: 0;
	text-align: center;
}

.item_simple_type .item_cont a {
	display: inline-block;
	color: #ffffff;
}
.item_simple_type .item_cont span,
.item_simple_type .item_cont del {
	display: block;
	color: #ffffff;
}
.item_simple_type .item_cont .icon_item_coupon {
	display: inline;
}
.item_simple_type .item_cont .item_tit_box .item_name_explain {
	padding: 0 10px 0 10px;
}
.item_simple_type .icon_time_sale {
	z-index: 20;
}
.item_simple_type .item_soldout .icon_time_sale {
	z-index: inherit;
}
.item_simple_type .item_price .time_sale_text {
	color: #fff;
}

/* 말풍선형 */
.item_tip_type {
}
.item_tip_type {
}
.item_tooltip_box {
	padding: 3px 3px;
	color: #fff;
}

/* 장바구니형 */
.item_basket_type {
}
.item_basket_type .item_photo_box:hover .item_link {
	display: block;
}
.item_basket_type .item_soldout .item_soldout_bg {
}

.item_basket_type .item_soldout .item_link {
	z-index: inherit;
}
.item_basket_type .item_link {
	display: none;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 64px;
	text-align: center;
	line-height: 1;
	z-index: 10;
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000,endColorstr=#90000000);
	background-color: rgba(0, 0, 0, 0.7);
}
/* 찜하기버튼 */
.btn_basket_get {
	width: 50%;
	height: 100%;
	border-right: 1px dotted #ffffff;
}
.btn_basket_get span {
	display: block;
	color: #ffffff;
}
/* 장바구니버튼 */
.btn_basket_cart {
	width: 47%;
	height: 100%;
}
.btn_basket_cart span {
	display: block;
	color: #ffffff;
}

/* 탭진열형 - 가로형 */
.item_hl_tab_type {
}
.item_hl_tab_type .goods_tab_tit {
	border-bottom: 1px solid var(--neutrals-gray);
	padding: 12px 0 0 0;
}
.item_hl_tab_type .goods_tab_tit ul {
	float: none;
	width: 100%;
	margin: 0 auto;
	font-size: 0;
}
.item_hl_tab_type .goods_tab_tit li {
	display: inline-block;
	font-size: 16px;
	text-align: center;
}
.item_hl_tab_type .goods_tab_tit li a {
	display: block;
	color: #797979;
	padding: 12px 16px;
}
.item_hl_tab_type .goods_tab_tit li.on a {
	color: #333333;
	font-weight: bold;
	border-bottom: 1px solid #000;
	background: var(--neutrals-gray);
}
.item_hl_tab_type .goods_tab_tit li:first-child a {
	margin-left: 0;
}
.item_hl_tab_type .goods_tab_cont {
	min-height: 150px;
}
.item_hl_tab_type .goods_tab_cont .goods_tab_box {
	display: none;
}
.item_hl_tab_type .goods_tab_cont .goods_tab_box.on {
	display: block;
}

/* 탭진열형 - 세로형 */
.item_vl_tab_type {
	overflow: hidden;
}
.item_vl_tab_type .goods_tab_tit {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 170px;
}
.item_vl_tab_type .goods_tab_tit ul {
	margin: 40px 0 0 0;
}
.item_vl_tab_type .goods_tab_tit li {
	width: 100%;
	min-height: 10px;
	margin: 0;
	text-align: left;
}
.item_vl_tab_type .goods_tab_tit li a {
	display: block;
	padding: 10px 0 10px 0;
	color: #999999;
	font-size: 13px;
	border-bottom: 1px solid #dadada;
}
.item_vl_tab_type .goods_tab_tit li.on a {
	color: var(--primary-default);
	font-weight: bold;
	background: url(../../img/icon/goods_icon/icon_vl_tab.png) no-repeat right
		center;
}
.item_vl_tab_type .goods_tab_cont {
	padding: 0 0 0 200px;
	min-height: 150px;
}
.item_vl_tab_type .goods_tab_cont .goods_tab_box {
	display: none;
}
.item_vl_tab_type .goods_tab_cont .goods_tab_box.on {
	display: block;
}

/* 상품 대표 색상 */
.goods_list .color {
	margin-top: 5px;
	overflow: hidden;
}
.goods_list .color > div {
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	border: #dfdfdf 1px solid;
	display: inline-block;
	margin: 5px 1px 0 0;
}
/* 리스트형 */
.item_list_type .item_photo_box {
	border: none;
	text-align: left;
}
.item_list_type .item_photo_box a img {
	border: #ebebeb 1px solid;
}
.item_list_type .color {
	top: 0;
	overflow: hidden;
	position: absolute;
}
/* 리스트 그룹형 */

.item_group_type .item_photo_box {
	border: none;
	text-align: left;
}
.item_group_type .item_photo_box a img {
	border: #ebebeb 1px solid;
}

/* 상품 이동형 */
.item_slide_horizontal .color {
	margin: 0 auto;
	text-align: left;
}
/* 심플이미지형 */
.item_simple_type .color {
	margin: 0 auto;
	text-align: left;
	width: auto !important;
}

.item_simple_type .item_cont {
	padding: 0;
}

.item_simple_type .color > div {
	margin: 5px 5px 0 0;
}

.item_simple_type .item_money_box {
	justify-content: center;
}

/* 추가상품 필수정보 관련 */
.add-goods-mustinfo-title {
	display: flex;
	justify-content: space-between;
	padding: 10px 0 0 0;
}
.btn_addgoods_mustinfo_showhide_all {
	padding: 2px 5px 3px 5px;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	border: 1px solid #dbdbdb;
	background-color: var(--primary-default);
}
.btn_addgoods_mustinfo_showhide {
	padding: 2px 5px 3px 5px;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #dbdbdb;
}

.item_slide_horizontal .item_money_box {
	justify-content: center;
}

/* 기획전 그룹 리스트 형 */
.body-event-sale .display-type01 .item_photo_box,
.body-event-sale .display-type03 .item_photo_box,
.body-event-sale .display-type11 .item_photo_box {
	margin: 0;
}

.body-event-sale .display-type01 .item_cont {
	display: block;
}

.body-event-sale .display-type01 .item_info_cont,
.body-event-sale .display-type08 .item_info_cont,
.body-event-sale .display-type11 .item_info_cont {
	display: block !important;
}