@charset "utf-8";
/* CSS Document */
/**
 * custom css 입니다. 추가적인 css 는 여기에 작성을 해주세요.
 */

colgroup{
  display: none!important;
}

.manam{
  padding: 5rem;
}

#zwpr{
  font-weight: 400;
  color: #8d8d8d;
}
  .sub_logo img{max-width: 30px;}
  .sub_logo{ justify-content: center; align-items: center; padding: 2rem 0;}

  .roton{
    display: flex;
    justify-content: center;
    font-size: 2.0rem;
  }
  .roxton{
    display: flex;
    justify-content: flex-end;
  }
  .body_man{
    margin: 2rem 0;
  }
.body_man > section > div > div:last-of-type > div > ul{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	align-items: stretch;
}
  .body_man > section{
    padding-top: 2rem;
    margin-top: 1rem;
  }
  .body_man > section:nth-of-type(odd) h3{
	border-left: 5px solid #ff3535;
  }
  .body_man > section:nth-of-type(even) h3{
	border-left: 5px solid #1c75ff;
  }
  .body_man > section:nth-of-type(3n + 3) h3{
	border-left: 5px solid #ff601c;;
  }

/* mobile */
@media (max-width: 767px ) {
	table tr {
		display:flex;
		flex-direction: column;
	}
  .footer_wrapper{
	flex-direction: column;
  }
  .header_top_cont h4{
    display: none;
  }
  .header_top_cont i{
    font-size: 1.5rem;
  }
  .body_man > section > div > div:last-of-type > div > ul{
	display:grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

}