body{
  margin: 0;
}
.tob2so{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 1vh 0 0;
  font-size: calc(1rem - -0.75vw);
  background: #ffffff;
  font-weight: bold;
}
.intro_member_wrap {
  display:flex;
  justify-content:center;
}

.intro_member_wrap > div{
  border: 1px solid #ddd;
  width: 80%;
  max-width: 1000px;
  padding: 4vh 9vw;
  background: var(--color-white);
  border-radius: 16px;
  box-shadow: 0 4px 24px var(--color-shadow);
  margin-top: calc(-1rem - -5.5vw);
}
.login_input_sec > div > input{
  max-width:300px;
  padding: 1rem 1rem;
  border: 4px solid #676767;
  border-radius: 1rem;
}
.member_tit_box{
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.member_login_box{
  margin-top: 2rem;
}
.login_input_sec{
  width:100%;
}
.login_input_sec > div{

}
.login_input_sec > div,
.member_login{
  display: flex;
  gap: 1rem;
  /* width: 100%; */
  flex-direction: column;
}

.btn_login_box > ul{
  display: flex;
  gap: 1rem;
  justify-items: stretch;
  flex-wrap: wrap;
}
.btn_login_box > ul > li{
  display:flex;
  /* width:100%; */
}
.btn_login_box > ul{
  border-top:2px solid #c7c7c7;
  margin: 1rem 0;
  padding-top: 1rem;
}

.btn_login_box ul li > button,
.member_login button{
  background:#ffffff;
  border: 1px solid#686868;
  border-radius:1rem;
  padding: 0.5rem;
  margin-top:1rem;
  width: 100%;
  max-width: 200px;
}

.chk_none dn{
  
}

@media (max-width: 600px) {
.btn_login_box > ul{
  gap: 1rem;
  justify-items: stretch;
  flex-wrap: wrap;
  flex-direction:column;
}
  .intro_member_wrap {
    width: 100%;
    padding: 2vh 2vw;
    max-width: 100%;
    border-radius: 8px;
  }
  .login_input_sec > div > input {
    max-width: 100%;
    font-size: 1rem;
    padding: 0.75rem 0.75rem;
    box-sizing: border-box;
    position: relative;
  }
  .btn_login_box ul li > button,
  .member_login button {
    max-width: 100%;
    font-size: calc(1rem - 0.25vw);
    padding: 0.5rem;
  }
  .member_tit_box {
    flex-direction: column;
    gap: 0.25rem;
  }
}